body {
    background: #fff;
    font-family: cantarell, monospace;
}
@media (max-width: 1024px) {
    .container {
        width: auto;
    }
}

.panel {
    box-shadow: 0 0 10px #ccc;
}

.navbar li.active a,
.navbar li a:active,
.navbar li a:hover,
.navbar li a:focus,
.navbar li a:visited {
    text-decoration: underline;
    background: transparent;
}
