<!-- <div class="container bs-docs-container"> -->
<div id="image-big" ng-if="pic">
	<div class="text-center">
		<button class="btn btn-default" ng-click="move(-1)">
			<i class="fa fa-angle-left"></i>
		</button>
		<button class="btn btn-danger" ng-click="view($event)">
			<i class="fa fa-fw fa-times"></i>
		</button>
		<button class="btn btn-default" ng-click="move(1)">
			<i class="fa fa-angle-right"></i>
		</button>

	</div>
	<hr>
	<div class="col-md-5">
		<img ng-src="{{ pic.src.md }}" alt="{{ pic.title }}" style="width: 100%"/>
	</div>
	<div class="col-md-7">
		<h1>{{ pic.title }}</h1>
		<i>Uploaded on
			{{ pic.created_at | datify | date }}</i>
		<hr>
		<p>
			{{ pic.caption }}
		</p>
	</div>
</div>
<div id="pics" ng-hide="pic"></div>
<!-- </div> -->
